@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
}

:root {
	/* Define theme colors */
	--background: linear-gradient(
		225deg,
		rgba(21, 120, 153, 1) 0%,
		rgba(7, 40, 51, 1)
	);
	--primary: #072833;
	--secondary: #fff9e1;
	--accent: #f04b45;
}

html,
body {
	/* Global styles for layout and typography */
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	width: 100vw;
	height: 100vh;
	background: var(--background);
	color: var(--primary);
}

.header {
	/* Header styling */
	color: var(--secondary);
	padding-top: 1.2rem;
	text-align: center;
}

.title {
	font-size: 3.5rem;
	text-transform: uppercase;
	letter-spacing: 35px;
}

.tagline {
	font-size: 0.8rem;
	text-transform: uppercase;
	letter-spacing: 18px;
}

footer {
	/* Footer styling */
	color: var(--secondary);
	position: absolute;
	width: inherit;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-inline: 3rem;
	bottom: 0.5rem;
	font-size: 0.8rem;
}

.music-player {
	/* Music player container */
	z-index: 0;
	position: relative;
	height: 70%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.music-profile {
	/* Profile image styling */
	position: absolute;
	left: 28.5%;
	top: 31%;
	width: 130px;
	border-radius: 50%;
	filter: drop-shadow(2px 4px 2px rgba(0, 0, 0, 0.3));
	z-index: 1;
}

.music-profile > img {
	width: inherit;
	border-radius: inherit;
	border: 3px solid var(--secondary);
}

.music-info {
	/* Song information container */
	background: var(--secondary);
	width: 550px;
	height: 100px;
	border-radius: 30px;
	filter: drop-shadow(5px 1px 10px rgba(7, 40, 51, 0.5));
}

.music-info > p {
	text-align: center;
}

.song-name {
	padding-top: 10px;
	font-size: 1.7rem;
	font-weight: bolder;
	text-transform: uppercase;
	letter-spacing: 0.5rem;
}

.music-nav {
	/* Navigation buttons container */
	position: absolute;
	top: 53%;
	z-index: -1;
	background: var(--secondary);
	width: 450px;
	height: 100px;
	border-radius: 30px;
	filter: drop-shadow(5px 1px 10px rgba(7, 40, 51, 0.5));
}

.nav-btn {
	/* Navigation buttons styling */
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	top: 0.9rem;
	justify-content: center;
	gap: 3rem;
}

button {
	background: none;
	outline: none;
	border: none;
}

.nav-btn > button {
	width: 1.4rem;
	cursor: pointer;
	transition: all 0.5s cubic-bezier(0.1, 0.86, 0.19, 0.37);
}

.nav-btn > button:hover {
	transform: scale(1.1);
}

.nav-btn > button:first-child {
	width: 1.2rem;
	margin-right: 2rem;
}

.nav-btn > button:last-child {
	width: 1.2rem;
	margin-left: 2rem;
}

.timeline {
	/* Timeline slider styling */
	display: flex;
	justify-content: center;
	padding-top: 0.75rem;
	width: 100%;
}

.timeline input[type="range"] {
	-webkit-appearance: none;
	appearance: none;
	width: 60%;
	border-radius: 2px;
	outline: none;
	margin: 0;
}

.timeline input[type="range"]::-webkit-slider-runnable-track {
	height: 2px;
	background: var(--primary);
	border-radius: 5px;
}

.timeline input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 12px;
	height: 12px;
	background: var(--accent);
	border-radius: 50%;
	cursor: pointer;
	margin-top: -5px;
	transition: transform 0.5s cubic-bezier(0.1, 0.86, 0.19, 0.37);
}

.timeline input[type="range"]::-webkit-slider-thumb:hover {
	transform: scale(1.2);
}

.links {
	/* Social media links styling */
	display: flex;
	gap: 0.5rem;
	align-items: center;
	justify-content: center;
}

.links a {
	display: inline-flex;
	padding: 0.2rem;
}

.links img {
	width: 24px;
	object-fit: contain;
	transition: all 0.3s cubic-bezier(0.1, -0.06, 0.05, -0.91);
}

.links a:hover img {
	transform: translateY(-5px);
}
